/**
 * Write CSS code in this file to style your JavaFX user interface
 *
 * Note: You must link this file to your scene object by adding the following line of code to the
 * JavaFX start() method:
 *   scene.getStylesheets().add("main.css");
 */

.button {
 -fx-background-color: #FFEBCD;
}

.controlButton {
    -fx-background-color: #87CEFA; /* background color */
    -fx-text-fill: white; /* font color */
    -fx-font-size: 16px; /* font size */
    -fx-border-color: #87CEFA; /* border color */
    -fx-border-radius: 5px; /* border radius */
    -fx-padding: 10px 20px; /* padding */
    -fx-border-width: 2px;
    -fx-border-height: 2px;
    -fx-min-width: 200px;
    -fx-max-width: 200px;
}